@model IEnumerable<NopCommerce.Api.SampleApplication.DTOs.OrderApi>

@{
    ViewBag.Title = "CustomerOrders";
}

<h2>CustomerOrders</h2>

@foreach (var order in Model)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Order total")
            </th>
            <th>
                @Html.DisplayName("Currency code")
            </th>
            <th>
                @Html.DisplayName("Payment method")
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.order_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.customer_currency_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.payment_method_system_name)
            </td>
        </tr>

    </table>
    <br />
    <br /> <br />
    <table class="table" id="billing">
        <tr>
            <th>
                @Html.DisplayName("Address")
            </th>
            <th>
                @Html.DisplayName("City")
            </th>
            <th>
                @Html.DisplayName("Country")
            </th>
            <th></th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.billing.address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.billing.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.billing.country)
            </td>
        </tr>

    </table>
    <br /> <br />
    <br />
    <table class="table" id="order">
        <tr>
            <th>
                @Html.DisplayName("Name")
            </th>
            <th>
                @Html.DisplayName("Image")
            </th>
            <th>
                @Html.DisplayName("Quantity")
            </th>
        </tr>

        @foreach (var item in order.orderItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.city.Name)
                </td>
                <td>
                    @if (item.city.Images.Count > 0)
                    {
                        <img src="@item.city.Images[0].src" width="50px" height="50px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
            </tr>
        }

    </table>
}
